<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige assets estáticos de public/
    RewriteCond %{REQUEST_URI} ^/(build|favicon\.ico|robots\.txt|images|css|js)
    RewriteRule ^(.*)$ public/$1 [L]

    # Maneja Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirige todo lo demás a index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
